
@{
    ViewBag.Title = "Далайчны тухай";
    Layout = "~/Views/Shared/_Layout_Sailor.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <ol class="breadcrumb">
                    <li style="color:white">
                        Home
                    </li>
                    <li class="active">Далайчны тухай</li>
                </ol>
            </h3>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/profile-pictures.png" class="img-responsive">
        </div>
        <div class="col-md-9 navbar-form">
            <table>
                @for(int i=0;i< Model.Count; i++)
                {
                <tr>
                    <td style="padding-left:20px">
                        @Model[i].ItemArray[0]
                    </td>
                    <td style="padding-left:20px; padding-right:20px">
                        @Model[i].ItemArray[1]
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
